.tictactoe-root {
  display: -webkit-flex; 
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex: 0 1 auto; 
  height: 25em;
  width: 25.5em;
  margin: 2em auto;
}

.board-root {
  display: -webkit-flex; 
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex: 0 1 auto; 
}

.message {
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  width: 25em;
  margin: 1em auto 2em auto;
  padding: 1em 0;
  border: 0.25em solid #dde;
  border-radius: 10px 10px 10px 10px;
  color: #668;
  background: rgba(200, 200, 215, 0.55);
  text-align: center;
}

.btn-container {
  display: -webkit-flex; 
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 0 1 auto; 
  justify-content: space-between; 
}

.btn {
  -moz-user-select: none;
  -ms-touch-action: manipulation;
  -ms-user-select: none;
  -webkit-user-select: none;
  background-color: #337ab7;
  border-color: #2e6da4;
  border-radius: 4px;
  border: 1px solid transparent;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  margin-bottom: 0;
  padding: 6px 12px;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  &:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
  };
  &:disabled,
  [disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
    pointer-events: none;
  }
}

.github-container {
  display: -webkit-flex; 
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 0 1 auto; 
  justify-content: space-between; 
  margin-top: 2em;
  /*iframe {
    border: 1;
  }
  iframe:first-child {
    margin-right: 5em;
  }*/
}
